<div class="card p-3">
  <a href="/details/{{product.id}}">
    <div class="text-center">
      <img src="{{ product.image }}" width="350" />
    </div>
  </a>
  <div class="product-details">
    <span class="font-weight-bold d-block">{{
      product.price | showCurrency: curr
    }}</span>
    <span>{{ product.name }}</span>
    <span class="font-weight-bold d-block">  Publish date: {{
      product.date | date: "dd-mm-yy"
    }}</span>

    <div class="buttons d-flex flex-row btn-group">
      <a
        class="btn btn-primary cart-button btn-block"
        href="/details/{{ product.id }}"
      >
        Details
      </a>
      <a
        class="btn btn-success cart-button btn-block"
        href="/order/{{ product.id }}"
      >
        Buy
      </a>
    </div>

    <div class="weight">
      <small>In stock {{ product.numberInStock }}</small>
    </div>
  </div>
</div>
