<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/"> The Angular Shop </a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Add New item</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Your order</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <main role="main" class="pb-3">
    <router-outlet></router-outlet>
  </main>
</div>

<footer class="border-top footer text-muted">
  <div class="container">
    &copy; 2022 - The Angular Shop - Created by Serhii Lemkin, the SEO of SHCPI
    (Serhii's Home Couch Potato Industries). All rights reserved.
  </div>
</footer>
